/* VARIABLES */

:root {
    --CouleurDorée: #FFD700;
    /* f9a825 */
}

/* BALISES  */

nav {
    /* background: linear-gradient(black); */
    background: linear-gradient(to right, rgba(46, 49, 49, 1), rgba(46, 49, 49, 0.9));
    color: white;
    padding: 10px;
    text-align: right;
}

header {
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 60px 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(46, 49, 49, 0.9));
   
}

li {
    list-style-type: none;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

a:hover {
    color: var(--CouleurDorée);
}

ul {
    margin: 0;
    float: initial;
    padding: 0px;
}

p {
    width: auto;
}

body {
    background-color:white;
    color: white;
    margin: 0px;
    font-family: 'Cuprum', sans-serif;

    
}

span {
    height: 3px;
    width: 25px;
    background-color: var(--CouleurDorée);
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 3px;
    margin-right: 5px;
}

header img {
    width: 350px;
}

h1 {
    font-size: 4em;
    margin: 0px 0px;
}

/* #ID */

#metier {
    display: inline-block;
}

/* #identite{
    margin-left: 80px;
    display: inline-block;
} */

.bouton {
    padding: 5px 20px;
    background-color: var(--CouleurDorée);
    display: inline-block;
    border-radius: 15px;
    margin: 0px;
    font-size: 1em;
    color: #2e3131;
    
}



.presentation {
    display: inline-block;
}

#textHeader {
    display: block;
    height: auto;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#sectionPresentation {
    background-color: rgba(46, 49, 49, 1);
    margin: 0px;
    padding: 40px 140px;
    
}

#presentationImg {
    background-color: black;
    margin-right: 20px;
    width: 295px;
    height: 330px;
    overflow: hidden;
    background: linear-gradient(black, #373737);
    border: black solid 1px;
    border-radius: 10px;

    
}


#presentationText {
    width: 73%;
    text-align: justify;
}



section img {
    width: 300px;
    opacity: 0.8;
    overflow: hidden;
}

#test {
    height: 125px;
}

p {
    display: inline-block;
}

#ensembleProjets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 700px;
    align-items: center;
}

.projet:not(:hover){
width: 360px;
height: 240px;
background-color:#373737;
box-shadow:0px 10px 15px black;
border:black solid 0px;
border-radius: 15px;
transition: 0.5s;
overflow: hidden;

}

.projet:hover {
    box-shadow:0px 10px 15px  var(--CouleurDorée) , 0px 20px 30px var(--CouleurDorée);
    transition: 0.5s;
    width: 380px;
    height: 253px;
    border-radius:  15px;
    background-color:#212121 ;
    overflow: hidden;
    font-size: 1.2em;

}


#projets{
padding: 40px 140px;
background-color: #212121;
}

#projetsText{
   text-align: center;
   display: block;
  
  
}

div[class=projet] div{

    display: block;
    text-align: center;
}


