:root {
    --CouleurDorée: #FFD700;
}

/* BALISES  */

nav {
    /* background: linear-gradient(black); */
    background: linear-gradient(to right, rgba(46, 49, 49, 1), rgba(46, 49, 49, 0.9));
    color: white;
    padding: 10px;
    text-align: right;
}

li {
    list-style-type: none;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

a:hover {
    color: var(--CouleurDorée);
}

ul {
    margin: 0;
    float: initial;
    padding: 0px;
}

body {
    background-color: #212121;
    color: white;
    margin: 0px;
    font-family: 'Cuprum', sans-serif;
}

.resultat {
    /* padding: 100px ; */
    background-color: #424242;
    text-align: center;
    font-size: 2.5em;
    width:800px;
    margin: 0px;
    padding: 100px;
    border-radius: 20px;
}



#bouton{
    font-size: 0.6em;
    background-color: black;
    border-radius: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 5px;
}




img {
    width: auto;
    height: 200px;
}

h1 {
    margin-top: 0px;
}

.pluie {
    
    position: relative;
    width:87%;
    padding: 100px;
    background-image: url(../assets/image/watercolor-1244885_1920.jpg);
    background-repeat: repeat;
    background-size: cover;
    animation: rain 0.4s linear infinite;
    margin: 0px;
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    color:yellow
    
    
    
}

@keyframes rain {

    100% {
        background-position: 20% 100%;
    }
}

.foudre {
  
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    display:inline-block;
    margin: 0px;
    padding: 100px;
    border-radius: 20px;
    background-image: url(../assets/image/foudre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.neige {
    
    position: relative;
   
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    display:inline-block;
    width:auto;
    margin: 0px;
    padding: 100px;
    border-radius: 20px;
    background-image: url(../assets/image/neige.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nuageux {
    
    position: relative;
    
    width: 87%;
    text-align: center;
    font-size: 2.5em;
    display:inline-block;
    margin: 0px;
    padding: 100px;
    /* border-radius: 20px; */
    background-image: url(../assets/image/nuage.jpg);
    background-repeat:repeat;
    background-size: cover;
}

.brouillard {
   
    position: relative;
   
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    display:inline-block;
    width:auto;
    margin: 0px;
    padding: 100px;
    border-radius: 20px;;
    background-image: url(../assets/image/brouillard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.soleil {
    
    position: relative;
    width: 87%;
    text-align: center;
    font-size: 2.5em;
    display:inline-block;
    margin: 0px;
    padding: 100px;
    border-radius: 20px;
    background-image: url(../assets/image/ciel_dégagé.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



